$default-border: (
  width: 2px,
  color: #000,
  style: solid,
  radius: 10px,
);

$default-bulbs: (
  i-incorrect: (
    background-color: #ccc,
    width: 45%,
    height: 45%
  ),
  i-exists: (
    background-color: #fff,
    width: 65%,
    height: 65%
  ),
  i-correct: (
    background-color: #000,
    width: 65%,
    height: 65%
  )
);

$default-colors: (
  zero: #FFB400,
  one: #FF5A5F,
  two: #8CE071,
  three: #00D1C1,
  four: #007A87,
  five: #7B0051,
);

$row-bg: map-merge($row-bg, (default: #F4F4F4));
$row-border: map-merge($row-border, (default: $default-border));
$bulbs: map-merge($bulbs, (default: $default-bulbs));
$colors: map-merge($colors, (default: $default-colors));
